    {{>navigation}}
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <em class="bi bi-justify fs-3"></em>
            </a>
        </header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Planillas</h3>
                        <div id="token"></div>
                        <div id="msg"></div>
                        <div id="notis"></div>
                        <div id="err"></div>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">DataTable</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <section class="section">
                <div class="card">
                    <div class="tab">
                        <div id="myDiv">

                        </div>

                    </div>
                    <div id="confidencial" class="tabcontent">
                        <div class="row">
                            <div class="wraper col">
                                <div id="showData2" class="col"></div>
                            </div>
                        </div>
                    </div>
                    <div id="general" class="tabcontent">
                        <div class="row">
                            <div class="wraper col">
                                <div id="showData3" class="col"></div>
                            </div>
                        </div>
                    </div>

                    <div id="extras" class="tabcontent">
                        <div class="row">
                            <div class="wraper col">
                                <div id="showData" class="col"></div>
                            </div>
                        </div>
                    </div>

                </div>
                {{>modals}}
            </section>
        </div>

        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2021 &copy; Incova</p>
                </div>
                <div class="float-end">
                    <p>Crafted with <span class="text-danger"><em class="bi bi-heart"></em></span> by <a
                            href="">Mantun</a></p>
                </div>
            </div>
        </footer>
    </div>

    <script>
        window.onload = () => {
            let payrollId = sessionStorage.getItem("payrollId");
            let entityId = sessionStorage.getItem("entityId");
            thirdTable(payrollId);
            thirdTable2(payrollId); 
            tableSalaryExtra(payrollId);
            buttons();
            function buttons() {
                if (entityId == 1) {
                    document.getElementById("myDiv").innerHTML +=
                        `<button class="tablinks" onclick="openCity(event, 'confidencial')">Planilla confidencial</button>`;
                    document.getElementById("myDiv").innerHTML +=
                        `<button class="tablinks" onclick="openCity(event, 'general')">Planilla general</button>`;
                    document.getElementById("myDiv").innerHTML +=
                        `<button class="tablinks" onclick="openCity(event, 'extras')">Horas extra</button>`;
                } else if (entityId == 2) {
                    document.getElementById("myDiv").innerHTML +=
                        `<button class="tablinks" onclick="openCity(event, 'general')">Planilla general</button>`;
                    document.getElementById("myDiv").innerHTML +=
                        `<button class="tablinks" onclick="openCity(event, 'extras')">Horas extra</button>`;
                }
            };
        }
    </script>
    