<div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active" height="7.5rem;">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="index.html"><img src="assets/images/logo/log.png" alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><em class="bi bi-x bi-middle"></em></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Controles generales</li>

                        <li class="sidebar-item active ">
                            <a href="index.html" class='sidebar-link'>
                                <em class="bi bi-grid-fill"></em>
                                <span>Dashboard</span>
                            </a>
                        </li>



                        <li class="sidebar-item  ">
                            <a href="table.html" class='sidebar-link'>
                                <em class="bi bi-grid-1x2-fill"></em>
                                <span>Personal</span>
                            </a>
                        </li>

                        <li class="sidebar-item  ">
                            <a href="table-datatable.html" class='sidebar-link'>
                                <em class="bi bi-file-earmark-spreadsheet-fill"></em>
                                <span>Planillas</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><em data-feather="x"></em></button>
            </div>
        </div>
</div>